USE [master]
GO
/****** Object:  Database [AuthorizationBd]    Script Date: 09.05.2026 16:54:14 ******/
CREATE DATABASE [AuthorizationBd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AuthorizationBd', FILENAME = N'D:\Soft\MSSQL17.SQLEXPRESS\MSSQL\DATA\AuthorizationBd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AuthorizationBd_log', FILENAME = N'D:\Soft\MSSQL17.SQLEXPRESS\MSSQL\DATA\AuthorizationBd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AuthorizationBd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AuthorizationBd]
GO
/****** Object:  Table [dbo].[User]    Script Date: 09.05.2026 16:54:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[Phone] [nvarchar](11) NULL,
	[Email] [nvarchar](255) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Surname], [Patronymic], [Login], [Password], [Phone], [Email]) VALUES (1, N'Иван', N'Иванов', N'Иванович', N'y', N'y', N'82345678901', N'email@gmail.com')
INSERT [dbo].[User] ([Id], [Name], [Surname], [Patronymic], [Login], [Password], [Phone], [Email]) VALUES (2, N'h', N'h', N'h', N'i', N'i', N'82345678901', N'fsjl@gmail.com')
INSERT [dbo].[User] ([Id], [Name], [Surname], [Patronymic], [Login], [Password], [Phone], [Email]) VALUES (3, N'f', N'f', N'f', N'user', N'User1234', N'82345678901', N'fs@gmail.com')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
